#questionsContainer {
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

body {
    background-image: url("https://cdn.dribbble.com/users/513398/screenshots/2745165/48.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
}

.jumbotron {
    background-color: rgb(224, 147, 59) !important;
    margin-top: 20px;  
}

form {
    font-size: 16px;
}

#timerTitle {
    margin-left: 100px;
    margin-top: 50px;
}

.btn {
    background-color: rgb(191, 229, 231);
}



